@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Poppins:wght@200;400;500;600;700&family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
body{
    background-image: url(/intro-component-with-signup-form-master/images/bg-intro-desktop.png);
    background-color:hsl(0, 100%, 74%) ;

}
.sec1{
    padding: 50px;
    margin-left: 100px;
}
.sec1 h1{
    color: white;
    line-height: 35px;
}
.sec1 p{
    color:white;
}
form{
    position:absolute;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 800px;
}
form .sec2{
    display: inline-flex;
    flex-direction: column;
}
.container{
    display: flex;
    margin: 200px ;
    width: 50%;
}
input{
    padding: 5px;
    margin: 10px;
}